.splash {
  width: 100%;
  height: 60vh;
}
.card {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card:hover {
  cursor: pointer;
}
.cardCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
}
