.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  /* display: inline-block; */
  margin: 60px;
}
.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #ccc;
}
/* .card_content {
  display: flex;
  justify-content: center;
} */
